<h4>Listado</h4>
<ul class="list-group">
  <li *ngFor="
    let character of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd
    " class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    [ngClass]="{ 'list-group-item-primary': isEven,
  'list-group-item-warning': isOdd }">
    <div>
      <span> {{ i +1 }} </span>
      {{ character.name }} - <strong> Power: </strong> {{ character.power }}
    </div>

    <button class="btn btn-danger" (click)="onDeleteChacacter(character)">X</button>

    <!-- <hr>
    <span>Es Primero: {{ isFirst }} </span>
    <span>Es Ultimo: {{ isLast }} </span>
    <hr>
    <span>Es Par: {{ isEven }} </span>
    <span>Es Impar: {{ isOdd }} </span>
    -->
  </li>
</ul>
